@media all and (min-width: 768px) {

    .btnMenuOpen,
    .btnMenuClose {
        visibility: hidden;
        height: 0;
    }
    
    .main-menu {
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        padding: 0 10px;
    }
    
    .menu {
        list-style: none;
        text-decoration: none;
        font-size: 15px;
        text-align: right;
    }
    
    .menu-item {
        position: relative;
        display: inline-block;
        padding: 0 0 0 40px;
    }
    
    .menu-item .menu-item-action {
        color: var(--color-sec);
        font-weight: normal;
        text-decoration: none;
        letter-spacing: 0.03em;
    }
    
    .menu-item .menu-item-action:hover {
        color: var(--color-pri);
        font-weight: bold;
        text-decoration: none;
    }

    .comSubmenu::after {
        content: "\25BC";
        font-size: 10px;
        padding-left: 5px;
    }

    .main-menu .menu-item .submenu {
        position: absolute;
        margin-top: 2px;
        visibility: hidden;
        background-color: rgba(230, 230, 230, 0.95);
        opacity: 0.2;
        font-size: 13px;
        text-align: left;
        border-top: 1px #A00000 solid;
    }

    .main-menu .menu-item:hover .submenu {
        visibility: visible;
        opacity: 0.9;
        transition: opacity 300ms ease-in-out;
    }

    .main-menu .menu-item .submenu li {
        padding: 10px;
        border-bottom: 1px #000000 solid;
    }

    .main-menu .menu-item .submenu li a {
        text-decoration: none;
        color: #A00000;
    }
    .main-menu .menu-item .submenu li:hover{
        font-weight: bold;
    }

}

@media all and (max-width: 767px) {
    .main-menu {
        position: relative;
        display: block;
        margin: 0 auto;
        height: 100%;
        padding: 0 15px;
        z-index: 1;
    }

    .menu {
        padding-top: 30px;
        position: absolute;
        display: block;
        background-color: var(--color-bgMenu);
        width: 100%;
        top: -5px;
        left: 0;
        transform: translateX(-120%);
        transition: transform 200ms linear;
    }

    .menu-open {
        transform: translateX(0);
        visibility: visible;
        z-index: 10;
    }

    .menu-item {
        padding: 10px 0 20px 20px;
        text-align: left;
    }

    .menu-item-action {
        color: var(--color-sec);
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.03em;
    }

    .menu-item .menu-item-action:hover {
        color: var(--color-pri);
        font-weight: bold;
        text-decoration: none;
    }

    .main-menu .menu-item .submenu {
        font-size: 15px;
        text-align: left;
    }

    .main-menu .menu-item .submenu li {
        padding: 20px 0 0 20px;
    }

    .main-menu .menu-item .submenu li a {
        text-decoration: none;
        color: var(--color-sec);
    }
    .main-menu .menu-item .submenu li:hover{
        font-weight: bold;
        text-decoration: none;
    }

}

/* qualquer media query */
.menu-item-action.-isActive {
    color: var(--color-pri);
    font-weight: bold;
    text-decoration: none;
}