.main-contatos {
    text-align: center;
}

.main-contatos .title,
.main-contatos .subtitle,
.main-contatos .description {
    opacity: 0.8;
}

.main-contatos .title {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-contatos .subtitle {
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
}

.main-contatos .description {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.main-contatos .social {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.main-contatos .link[href*="facebook"] {
    width: 10px;
    background-image: url(../../img/facebookPositivo.svg);
}
.main-contatos .link[href*="youtube"] {
    width: 20px;
    background-image: url(../../img/youtubePositivo.svg);
}
.main-contatos .link[href*="email"] {
    width: 15px;
    background-image: url(../../img/emailPositivo.svg);
}
.main-contatos .link {
    display: block;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.main-contatos .item:not(:last-child) {
    margin-right: 15px;
}

.main-contatos .picture {
    width: 100%;
}


@media (min-width: 768px) {
    .main-contatos .row {
        display: flex;
        flex-direction: row-reverse;
    }
  
    .main-contatos .contatos {
        width: 100%;
        text-align: left;
        margin-left: 5px;

    }
    .main-contatos .social {
        width: 100%;
        text-align: left;
        justify-content: flex-start;
        padding: 5px 0 0 5px;
    }

    .main-contatos .picture {
        width: 340px;
        margin-right: 10px;
    }
}