.main-title {
    font-size: 1.8em;
    color: var(--color-pri);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
    line-height: 1.2em;
}

.main-title::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background: var(--color-pri);
  margin: 10px auto;
}

.-negativo {
    color: var(--color-qua);
    font-weight: 400;
}

.-negativo::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background: var(--color-qua);
  margin: 10px auto;
}
