:root {
	--color-pri: #A00000;
	--color-sec: #909090;
    --color-ter: #000000;
    --color-qua: #FFFFFF;  
    --color-bgClean1: #FFFFFF;
    --color-bgClean2: rgb(242, 242, 242);
    --color-bgDark: #A00000;
    --color-bgMenu: rgba(240, 240, 240, 0.98);
    --color-bgBtnPri: rgba(51, 163, 255, 0.9);
    --color-bgBtnSec: rgba(35, 165, 85, 0.9);
}