.barra-superior {
    font-size: 0.8em;
    font-weight: 400;
    color: var(--color-qua);
    letter-spacing: 1px;
    line-height: 1.5em;
}

.barra-superior .col { 
    /* ajusta responsividade sem gerar 
    barra de rolagem horizontal */
    margin-right: -2px;
    margin-left: -2px;
}

.barra-superior .tels {
    text-align: left;
}
.barra-superior .emails {
    text-align: right;
}

.barra-superior .social {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    list-style: none;
}

    @media (max-width: 767px) {
        .barra-superior .tels {
            text-align: center;
        }
        .barra-superior .emails {
            text-align: center;
        }
        .barra-superior .social {
            padding-top: 0.5em;
            justify-content: center;
        }
    }


.barra-superior .item:not(:last-child) {
    margin-right: 10px;
}

.barra-superior .link {
    display: block;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: center;
    width: 20px;
}

.barra-superior .link[href*="facebook"] {
    background-image: url(../../img/facebookNegativo.svg);
}
.barra-superior .link[href*="youtube"] {
    background-image: url(../../img/youtubeNegativo.svg);
}
.barra-superior .link[href*="email"] {
    background-image: url(../../img/emailNegativo.svg);
}