.myGalleryVideos {
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    margin: 30px auto;
}
.myGalleVideoses .titleGallery {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5em;
    border-bottom: 2px solid #A00000;
    margin: 20px 20px 10px 20px;
}

@media (min-width:950px) {
    .myGalleVideoses .titleGallery {
        margin: 20px 0 10px 0;
    }
}